@font-face {
  font-family: atiba;
  src: url(../assets/fonts/atiba.ttf);
}
body {
	background-color: black;
	padding-left: 20%;
	padding-right: 20%;
}
.main_wrapper {
	background-color: black;
	padding-left: 2%;
	padding-right: 2%;
	height: 100%;
}
.page_menu {
	padding: 0%;
	height: 20px;
	display: flex;
}
.current_menu_button {
	background-color: darkgray;
	height: 20px;
	width: 100px;
	margin: 2px;
	text-align: center;
	font-family: atiba;
	font-size: 14px;
	user-select: none;
}
.menu_link {
	text-decoration: none;
	color: black;
}
.menu_button {
	background-color: lightgray;
	height: 20px;
	width: 100px;
	margin: 2px;
	text-align: center;
	font-family: atiba;
	font-size: 14px;
	user-select: none;
}
.menu_button:hover {
	background-color: darkgray;
	cursor: pointer;
}
.title_div {
	padding: 1%;
	color: lightgray;
	font-family: atiba;
	font-size: 30px;
}